version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_DATABASE: agora_db
      - MYSQL_ROOT_PASSWORD: Bambi+KaCfBnHf
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  
  backend:
    build: /backend
    container_name: agora_back
    restar: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: password_seguro
      DB_NAME: mi_base_de_datos
    depends_on:
      - db
  
  frontend:
    build: ./frontend
    container_name: agora_front
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
  
  volumes:
    db_data: